.gig-details-wrapper {
  h3 {
    height: fit-content;
    padding-block-end: rem(25px);
    font-size: 1.3em;
    line-height: rem(40px);
    color: $clr5;
    font-family: macan-bold;
  }
  .gig-details-nav {
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #dadbdd;
    min-height: rem(55px);
    background-color: #fff;
    align-content: center;
    z-index: 55;
    .container {
      list-style: none;
      display: flex;
      height: 100%;
      li {
        padding-inline-end: rem(25px);
        height: 100%;
        // &:hover {
        //   box-shadow: inset 0px -6px 0px $clr1;
        // }
        a {
          text-decoration: none;
          font-size: 14px;
          font-family: macan-regular;
          font-weight: bold;
          color: #95979d;
          transition: color 0.2s;
          &:hover {
            color: #7a7d85;
            text-decoration: none;
          }
          &:active {
            color: $clr5;
          }
        }
      }
    }
  }
  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }

  .gig-details {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: rem(40px);
    @include for-normal-layout {
      grid-template-columns: 2fr 1fr;
      padding: 32px;
    }
    .purchase-container {
      grid-column: 1;
      grid-row: 2;
      margin-block-end: rem(40px);
      @include for-normal-layout {
        grid-column: 2;
        grid-row: 1/5;
        margin-inline-start: rem(50px);
      }
      @include for-wide-layout {
        margin-inline-start: rem(105px);
      }
    }
    .overview {
      grid-column: 1;
      grid-row: 1;
      .title {
        height: fit-content;
        padding-block-end: rem(25px);
        font-size: 1.7em;
        line-height: rem(40px);
        color: $clr5;
        font-family: macan-bold;
      }
      .owner-prev {
        // flex-wrap: wrap;
        padding-block-end: rem(25px);
        align-content: center;
        align-items: center;

        .vue-avatar--wrapper {
          flex: 0 0 auto;
        }
        .stars a {
          text-decoration: none;
          &:visited {
            color: initial;
          }
          .amount:visited {
            color: $clr5;
          }
        }
        .seperator {
          padding: 0 rem(5px);
          color: #c5c6c9;
        }
        .owner-content {
          display: flex;
          flex-direction: column;
          padding-inline-start: rem(12px);
          gap: rem(8px);
          @media (min-width: 553px) {
            flex-direction: row;
            gap: 0;
          }
          .owner-name-level {
            display: flex;
            align-items: center;
            h4 {
              padding-inline-end: rem(5px);
              font-family: macan-bold;
              color: $clr5;
            }
            span {
              font-size: 0.9rem;
            }
          }
          .stars-orders {
            display: flex;
            align-items: center;
            .orders {
              color: #95979d;
              font-size: 0.9rem;
            }
          }
        }
      }
      .el-carousel {
        margin-block-end: rem(64px);
        border: 1px solid #cdcad1;
      }
      .el-carousel__button {
        background-color: #cdcad1;
      }
      .el-carousel__indicator {
        border: none;
      }
      .img-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          max-width: 100%;
          min-width: 140px;
          object-fit: contain;
        }
      }
    }

    .description {
      grid-column: 1;
      grid-row: 3;
      @include for-normal-layout {
        grid-column: 1;
        grid-row: 2;
      }
      p {
        white-space: pre-wrap;
        font-family: macan-regular;
        line-height: em(25px);
        margin-block-end: rem(64px);
      }
    }

    .seller-info {
      margin-block-end: rem(70px);
      .owner-prev {
        gap: rem(15px);
        margin-block-end: rem(25px);
        .seller-name {
          flex-direction: column;
          gap: rem(10px);
          h4 {
            font-family: macan-bold;
          }
          .stars {
            margin-block-start: rem(10px);
          }
        }
      }
      .table-info {
        width: 100%;
        border: 1px solid #cdcad1;
        border-radius: 5px;
        padding: rem(24px);
        @include for-normal-layout {
          max-width: 710px;
        }

        .stats {
          display: grid;
          grid-template-rows: 1fr 1fr;
          border-bottom: 1px solid #cdcad1;
          @include for-narrow-layout {
            grid-template-columns: 1fr 1fr;
          }
          * > h4 {
            line-height: em(27px);
            &:nth-of-type(odd) {
              color: #82858c;
            }
            &:nth-of-type(even) {
              font-family: macan-bold;
              padding-bottom: rem(16px);
            }
          }
          * > div {
            &:nth-of-type(1) {
              grid-column: 1;
              grid-row: 1;
            }
            &:nth-of-type(2) {
              grid-column: 2;
              grid-row: 1;
              margin-inline-start: rem(15px);
            }
            &:nth-of-type(3) {
              grid-column: 1;
              grid-row: 2;
            }
            &:nth-of-type(4) {
              grid-column: 2;
              grid-row: 2;
              margin-inline-start: rem(15px);
            }
          }
        }
        .description {
          padding-top: rem(15px);
          p {
            margin: 0;
          }
        }
      }
    }

    .reviews-package {
      header {
        padding-block-end: rem(20px);
        display: flex;
        align-items: center;
        gap: 0.5rem;
        h3 {
          padding: 0;
        }
      }
      .breakdown-container {
        padding-block-end: rem(35px);
        display: flex;
        flex-flow: row wrap;
        flex: 0 1 auto;
        flex-direction: column;
        @include for-narrow-layout {
          flex-direction: row;
        }
        .table-stars-container {
          padding-inline-end: 8px;
          margin-block-end: 20px;
          @include for-narrow-layout {
            flex-basis: 50%;
            max-width: 50%;
          }
          tr {
            white-space: nowrap;
            padding-bottom: 4px;
            td {
              vertical-align: top;
            }
          }
          table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            .star-filter {
              button {
                padding: rem(6px);
                border: none;
                text-align: left;
                color: #4a73e8;
                font-family: macan-bold;
                font-size: 16px;
                background-color: transparent;
                border-radius: 4px;
                cursor: pointer;
                transition: 70ms;
              }
              &:hover {
                background-color: #f0f4ff;
              }
            }
            .progress-bar-container {
              position: relative;
              width: 100%;
              padding: 10px 10px 0 6px;
              margin: auto;
              .star-progress-bar {
                display: flex;
                align-items: center;
                .grey {
                  position: relative;
                  height: 8px;
                  background: #e4e5e7;
                  flex-grow: 1;
                  border-radius: 999px;
                  .progress {
                    background-color: #ffb33e;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                    border-radius: 999px;
                  }
                }
              }
            }
            .star-num {
              padding-block-start: rem(4px);
              color: #4a73e8;
              font-family: macan-regular;
              min-width: rem(20px);
            }
          }
        }
        .rating-breakdown {
          padding-inline-start: 8px;
          @include for-narrow-layout {
            flex-basis: 50%;
            max-width: 50%;
          }
          .title {
            padding-top: 1px;
            padding-bottom: 16px;
            color: $clr5;
            font-family: macan-bold;
            line-height: 140%;
            font-size: 16px;
          }
          ul li {
            display: flex;
            justify-content: space-between;
            color: #95979d;
            padding-bottom: 8px;
            font-family: macan-regular;
            line-height: 140%;
            span {
              color: #62646a;
              white-space: nowrap;
              margin-left: 12px;
              span {
                margin-left: 5px;
                color: #ffb33e;
              }
            }
          }
        }
      }
      .add-review-btn {
        width: 100%;
        padding: 8px 12px;
        margin-block-end: 30px;
        @include for-normal-layout {
          width: 50%;
        }
      }
      .review-form {
        width: 100%;
        .title {
          padding-block-end: rem(15px);
          h3 {
            padding-block-end: rem(4px);
          }
          p {
            line-height: 140%;
            padding-bottom: rem(15px);
            border-bottom: 1px solid #cdcad1;
          }
        }
        .questions {
          .rate-question {
            margin-block-end: 25px;
          }
          h4 {
            padding-bottom: rem(8px);
          }
          p {
            padding-bottom: rem(8px);
          }
          .stars {
            padding-block-start: 5px;
            color: #9b9ca0;
            .fa-star:hover {
              color: #ffb33e;
            }
          }
        }
        .text-area {
          margin-block-end: 20px;
          h4 {
            padding-block: rem(12px);
          }
        }
        .btn-add {
          width: 100%;
          padding: 8px 12px;
          margin-block-end: 30px;
          @include for-normal-layout {
            width: 50%;
          }
        }
      }
    }
    .reviews-container {
      .review-list {
        list-style: none;
        .review-item {
          position: relative;
          border-top: 1px solid #cdcad1;
          padding-block-start: rem(32px);
          padding-block-end: rem(20px);
          padding-inline-start: rem(44px);
          .user-img {
            position: absolute;
            left: 0;
            top: 32px;
          }
          .review-content {
            .reviewer-details {
              display: flex;
              align-items: center;
              padding: 4px 0;
              h4 {
                margin-inline-end: 10px;
              }
              .review-rating {
                color: #ffb33e;
                font-weight: 700;
              }
            }

            .reviewer-sub-details {
              display: inline-flex;
              .country {
                display: inline-flex;
                align-items: center;
                .country-name {
                  color: #62646a;
                  font-size: 14px;
                  padding-left: 8px;
                }
                .country-flag {
                  width: 20px;
                  height: 20px;
                }
              }
            }

            .review-description {
              padding: 8px 0;
              p {
                line-height: 22px;
                color: #404145;
                word-wrap: break-word;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
