.gig-details-wrapper {
  h3 {
    height: fit-content;
    padding-block-end: rem(25px);
    font-size: 1.3em;
    line-height: rem(40px);
    color: $clr5;
    font-family: macan-bold;
  }
  .gig-details-nav {
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #dadbdd;
    min-height: rem(55px);
    background-color: #fff;
    align-content: center;
    z-index: 55;
    .container {
      list-style: none;
      display: flex;
      height: 100%;
      li {
        padding-inline-end: rem(25px);
        height: 100%;
        // &:hover {
        //   box-shadow: inset 0px -6px 0px $clr1;
        // }
        a {
          text-decoration: none;
          font-size: 14px;
          font-family: macan-regular;
          font-weight: bold;
          color: #95979d;
          transition: color .2s;
          &:hover {
            color: #7a7d85;
            text-decoration: none;
          }
          &:active {
            color: $clr5;
          }
        }
      }
    }
  }
  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  .headroom--pinned {
    transform: translateY(0%);
  }
  .margin {
    display: grid;
      grid-template-columns:
        minmax($layoutPadding, 1fr)
        minmax(auto, 1240px)
        minmax($layoutPadding, 1fr);
  }

  .gig-details {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    margin-block-start: rem(40px);
    @include for-normal-layout {
      grid-template-columns: 2fr 1fr;
    }
    .purchase-container {
      grid-column: 1;
      grid-row: 2;
      margin-block-end: rem(40px);
      
      @include for-normal-layout {
        grid-column: 2;
        grid-row: 1/5;
        min-width: 290px;
      }
      @include for-wide-layout {
        min-width: 360px;
      }
    }
    .details-overview {
      grid-column: 1;
      grid-row: 1;
      @include for-normal-layout {
        margin-right: 60px;
      }
      @include for-wide-layout {
        margin-right: 115px;
      }
    }
    .additional-info {
      grid-column: 1;
      grid-row: 3;
      @include for-normal-layout {
        margin-right: 55px;
        grid-column: 1;
        grid-row: 2;
      }
      @include for-wide-layout {
        margin-right: 115px;
      }
      .description {
        p {
          white-space: pre-wrap;
          font-family: macan-regular;
          line-height: em(25px);
          margin-block-end: rem(64px);
        }
      }
    }
  }
}
