.router-link-exact-active {
  color: green;
}

/* 
  .router-link-active {
      color: green
  } */

.active-link {
  color: whitesmoke;
}

.main-header {
  z-index: 2;
  padding-inline: 1rem;
  padding-block: 0.5rem;

  .main-nav {
    display: flex;
    gap: 1rem;
  }

  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header-sticky {
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 9999;
  margin-bottom: 5rem;
}
.header-transparent {
  border-bottom: none;
  // @media only screen and (min-width: 600px) {
  //   background-color: transparent;
  // }
}

.header {
  width: 100%;
  background-color: #fff;
  transition: background-color 0.5s ease;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  // @media only screen and (min-width: 600px) {
  //   background-color: transparent;
  // }
}

// .fiverr-header .header-row-wrapper {
//   width: 100%;
//   border-bottom: 1px solid #e4e5e7;
// }

.logged-out-homepage-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  height: 80px;
   justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  width: 100%;
}

.fiverr-header .fiverr-header-search-animated {
  display: none;
}

.search-bar-package {
  position: relative;
}

.search-bar-package form {
  display: flex;
  position: relative;
  height: 34px;
}

.hero {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}
