.hero-container {
  // height: 400px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  .card-filter {
    position: relative;
    width: 245px;
    // margin: 0 18px;
    p {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      max-width: 70%;
      color: #fff;
      top: 0;
      left: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      padding: 16px;

      .filterTitle {
        font-size: 20px;
        line-height: 140%;
        font-weight: 700;
      }
    }
    img {
      border-radius: 4px;
      object-fit: cover;

      height: 345px;
    }
  }
}

.homePage-title{
  height: 38.4px;
  padding-bottom: 20px;
}