.purchase-container {
  border: 1px solid #dadbdd;
  height: fit-content;
  @include for-normal-layout {
    position: sticky;
    top: rem(120px);
  }
  .order-info {
    padding: rem(20px) rem(24px) rem(24px);
    header {
      padding-block-end: rem(10px);
      .title {
        min-height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .text {
          color: $clr5;
          font-family: macan-bold;
        }
        .price {
          font-size: 20px;
          color: $clr5;
          font-family: macan-bold;
        }
      }
      p {
        margin: rem(10px) 0;
        font-size: 14px;
        line-height: 140%;
        word-break: break-word;
      }
    }
    article {
      .additional-info {
        margin-block-end: rem(10px);
        display: flex;
        .delivery-wrapper {
          display: flex;
          align-items: center;
          .delivery {
            margin-inline-start: rem(8px);
            font-family: macan-bold;
            font-size: 14px;
          }
        }
        .revisions-wrapper {
          margin-inline-start: rem(16px);
          display: flex;
          align-items: center;
          .revisions {
            margin-inline-start: rem(8px);
            font-family: macan-bold;
            font-size: 14px;
          }
        }
      }
      .fetures {
        margin-block-end: rem(20px);
      }
    }
  }
}
