.toy-preview-container {
  width: 150px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  border-radius: 4px;

  .toy-preview {
    text-align: center;
    padding: 10px;
    h3 {
      color: darkblue;
      font-size: 2em;
    }
    img{
      height: 6rem;
    }
  }
}
