.flex {
  display: flex;
}

.grid {
  display: grid;
}

.max-width-container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn-purchase {
  width: 100%;
  padding: 12px 24px;
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    background-color: #19a463;
    transition: 70ms cubic-bezier(0.11, 0.01, 0.25, 1);
  }
}

.btn-actions {
  width: 100%;
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid #62646a;
  border-radius: 3px;
  color: #62646a;
  font-family: macan-regular;
  font-size: 16px;
  &:hover {
    background-color: #7a7d85;
    color: #fff;
    border-color: transparent;
    transition: 70ms cubic-bezier(.75,0,.25,1);
  }
}

.stars {
  .fill {
    color: #ffb33e;
  }
  .empty {
    color: #fff;
    text-shadow: -1px 0 #ffb33e, 0 1px #ffb33e, 1px 0 #ffb33e, 0 -1px #ffb33e;
  }
  .rate {
    padding-inline-start: rem(4px);
    color: #ffb33e;
    font-family: macan-bold;
  }
  .amount {
    padding-inline-start: rem(4px);
    font-size: 0.9rem;
  }
}


.fetures {
  ul {
    list-style: none;
    li {
      display: flex;
      align-items: center;
      height: 1.5rem;
      .fa-check {
        color: #1dbf73;
        padding-inline-end: rem(12px);
      }
      span {
        color: #95979d;
        font-size: 14px;
      }
    }
  }
}
.main {
  // margin-top: 80px;
}
// Aspect ratios

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}
